.App {
  background: black;
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
}

.title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.math-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.show-number-container {
  display: flex;
  justify-content: space-between;
  width: 125px;
}

.problem {
  font-size: 25px;
  color: white;
}

.solution {
  font-size: 25px;
  color: white;
}
